* {
	margin: 0px;
	padding: 0px;
	font-family: "IBM Plex Sans";
	text-align: center;
}

#header {
	overflow: visible;
}

#navBar {
	height: 50px;
	width: 98.7%;
	padding: 5px 10px 5px 10px;
	background-color: pink;
	border-bottom: 1px solid black;
	position: sticky;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	top: 0px;
}

#navLogo {
	height: 80%;
}

#searchBar {
	width: 40%;
	background-color: yellow;
	height: 40px;
	display: block;
	align-items: center;
	justify-content: flex-start;
	border-radius: 50px;
}

#searchBar > * {
	display: flex;
	margin-top: 10px;
}

#searchImg {
	height: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

#searchText {
	display: flex;
	text-align:left;
	padding: 0px;
	width: 87%;
}

#toNest {
	display: flex;
	align-items: center;
}

#pfp {
	margin-left: 5px;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	border: 1px black solid;
}

#deptNav {
	height: 30px;
	width: 98.7%;
	padding: 5px 10px 5px 10px;
	background-color: lightcyan;
	border-bottom: 1px solid black;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#splash {
	height: 400px;
	background-color: green;
	background-image: url(img/hate.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 60% 100%;
}

#splashGradient {
	background-image: linear-gradient(105deg, white 50%, #ff000000 70%);
	display: flex;
	width: 100%;
	padding: 0px;
	height: 100%;
	display: flex;
	align-items: center;
}

#splashContent {
	padding-left: 10%;
}